[workspace]
resolver = "3"
members = ["abmac-macros", "bytecast", "spout", "spill-ring", "verdict", "pebble"]

[workspace.package]

[workspace.dependencies]
spout = { path = "./spout" }
bytecast = { path = "./bytecast" }
abmac-macros = { path = "./abmac-macros" }
